{% extends 'Customer/base.html' %}

{% block content %}
<br><br>
<div style="text-align: center;"><button type="button" class="btn btn-light btn-lg">
    <b>Your Total Products You Have Ordered Till Now</b>&nbsp;&nbsp;<span class="badge badge-pill badge-warning" style="background-color: chocolate;" ><b style="color:white;font-size: large;">{{totalorderitems}}</b></span>
  </button></div><br><br>
{% for lap in orderlist %}
    {% if lap.laptop %}
    <div style="margin:3% 25%;;">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{lap.laptop.limage.url}}" style="width:100%;height: 100%;" class="img-fluid rounded-start" alt="Image Not Found">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><b style="font-size: large;">{{lap.laptop.brand_name}}&nbsp;{{lap.laptop.model_name}}</b></h5>
                    <p class="card-text"><b style="font-size:large">Rs:&nbsp;{{lap.price}}</b></p>
                    <p class="card-text">Seller:&nbsp;{{lap.laptop.product.seller.company_name}}</p>
                    <p class="card-text"><a><i class="bi bi-star"></i><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                      </svg>&nbsp;&nbsp;Rate & Review Product</a></p>
                    <a href="{% url 'report' lap.id %}"><button class="btn btn-danger">Download Your Order Invoice</button></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% elif lap.mobile %}
    <div style="margin:3% 25%;">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{lap.mobile.mimage.url}}" style="width:100%;height: 100%;" class="img-fluid rounded-start" alt="Image Not Found">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><b style="font-size: large;">{{lap.mobile.brand_name}}&nbsp;{{lap.mobile.model_name}}</b></h5>
                    <p class="card-text"><b style="font-size:large">Rs:&nbsp;{{lap.price}}</b></p>
                    <p class="card-text">Seller:&nbsp;{{lap.mobile.product.seller.company_name}}</p>
                    <p class="card-text"><a><i class="bi bi-star"></i><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                      </svg>&nbsp;&nbsp;Rate & Review Product</a></p>
                      <a href="{% url 'report' lap.id %}"><button class="btn btn-danger">Download Your Order Invoice</button></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% elif lap.grocery %}
    <div style="margin:3% 25%;">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{lap.grocery.gimage.url}}" style="width:100%;height: 100%;" class="img-fluid rounded-start" alt="Image Not Found">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><b style="font-size: large;">{{lap.grocery.product_name}}</b></h5>
                    <p class="card-text"><b style="font-size:large">Rs:&nbsp;{{lap.price}}</b></p>
                    <p class="card-text">Seller:&nbsp;{{lap.grocery.product.seller.company_name}}</p>
                    
                    <p class="card-text"><a><i class="bi bi-star"></i><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                      </svg>&nbsp;&nbsp;Rate & Review Product</a></p>
                    <a href="{% url 'report' lap.id %}"><button class="btn btn-danger">Download Your Order Invoice</button></a>
                
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
{% endfor %}
{% endblock %}