{% extends 'Customer/Base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class='col' style="margin-top: 9%;">
            
<div class="card text-center">
    <div class="card-body">
      <h5 class="card-title" style="text-align: left;"><b style="font-size: large;">Order Summery</b></h5><hr>
      <p class="card-text" style="text-align: left;"><b>My cart ({{cartitems}})</b></p><hr>
      <p class="card-text">
          <h4 style="text-align: left;"><b>Price Details</b></h4>
          <table>
              <tr>
                  <td style="text-align: left;"><b>Price({{cartitems}} items)</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td style="text-align: right;"><b>{{total}} Rs</b></td>
              </tr>
              <tr>
                  <td style="text-align: left;"><b>Delivery Charges</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td style="text-align: right;"><b>Free</b></td>
              </tr>
          </table><hr>
      </p>
        <p><b style="text-align: right;">Total Payable</b>&nbsp;&nbsp;&nbsp;&nbsp;<b>{{total}} Rs</b></p><br>
    </div>
  </div>
  </div>
  <div class="col">
    <div style="color: white;">
            {% if messages %}
            {% for msj in messages %}
            <div class="alert alert-danger" role="alert">
                <b style="font-size: medium;">{{msj}}</b>
              </div>
            {% endfor %}
            {% endif %}
            <form method="POST">
                <h3 style="text-align: center;padding: 2% 0% 4% 0%;">Delivery Details</h3>
                {% csrf_token %}
                {{form|crispy}}
                <br>
                <button type="submit" class="btn btn-info btn-lg btn-block">Confirm Order</button>
              </form>
    </div>

</div>
</div>
</div>
{% endblock %}