{% extends 'Customer/Base.html' %}
{% load crispy_forms_tags %}
{% load mobile %}


{% block title %}
    <title>Mobiles</title>
{% endblock %}

{% block content %}

<h1 style="text-align:center">Mobiles</h1>
<hr>
<div class="container-fluid" style="width: 130%;">
  <div class="row">
    <div class="col-2" style="margin-left:5px;">
      <div class="card card-body" style="border:2px solid dodgerblue; border-radius: 5px; padding:20px 50px 20px 20px;">
        <form method="get" >
          <h1>search</h1>
          {{mobilefilter.form}}

<!--          {{mobilefilter.form.name.label}}-->
<!--          {{mobilefilter.form.name}}-->
<!--          <br><br>-->
<!--          {{mobilefilter.form.brand_name}}-->

          <br><br>
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </div>


  <!--<hr>-->
  <div class="col-9" >
      {% for r in records %}
        <div class="card mb-3 container" style="max-width: 70%; margin-left: 5%;">
          <div class="row no-gutters">
            <div class="col-md-5">
              <img src="{{r.mimage.url}}" width="{{380}}" height="{{250}}" alt="Not found">
            </div>
            <div class="col-md-7" style="background-color: ghostwhite;margin-left:0%;">
              <div class="card-body">
                <h3 class="card-title">{{r.name}}</h3>
                  <h4 class="card-title">{{r.brand_name}}</h4>
                  <h5 class="card-text">{{r.ram}} GB RAM | {{r.rom}} GB ROM | Expandable upto 512 GB</h5>
                  <h5 class="card-text">{{r.processor}} Processor </h5>
                  <h5 class="card-text">{{r.warranty}} Year Handset Warranty</h5>
                  <h4 class="card-text">Price: {{r.price}} Rs</h4>
                <a href="{% url 'customermobileitem' r.pk %}" class="btn btn-success">Add to Cart</a>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}


<!--      Start Pagination Bar-->
    <div class="container" style="text-align:center">
      {% if records.has_other_pages %}
        <ul class="pagination">
          {% if records.has_previous %}
            <li><a href="{% relative_url records.previous_page_number 'page' request.GET.urlencode %}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}

          {% for i in records.rec_per_page.page_range %}
            {% if records.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="{% relative_url i 'page' request.GET.urlencode %}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if records.has_next %}
            <li><a href="{% relative_url records.next_page_number 'page' request.GET.urlencode %}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
    </div>

<!--      End Pagination Bar-->

  </div>
</div>



{% endblock %}