{% extends 'Customer/Base.html' %}
{% load static %}



{% block title %}
    <title>User-Login</title>
{% endblock %}

 
{% block content %}

<div  class='jumbotron' id='lbg' style="width: 35%; margin: 2% 30% ;height: 50%;">
  
    <h2 style="text-align: center;font-size:xx-large">sign-in</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="mn" style="font-size: medium;">Enter Mobile_no</label>
          <input type="number" class="form-control" id="mn"  name="mobile" placeholder="enter mobile_no">
        </div>
        <div class="form-group">
          <label for="pd" style="font-size: medium;">Password</label>
          <input type="password" class="form-control" name="password" id="pd" placeholder="enter password">
        </div>
        
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        <div style="color:red;">
          {% if messages %}
              {% for msj in messages %}
              
                  {{msj}}
            
              {% endfor %}
          {% endif %}
        </div>
        <br>
        
      </form>
      <a href="{% url 'Customerforgotpass' %}" ><button type="submit" class="btn btn-primary btn-lg btn-block">Forgot-Password</button></a>
      <br>
      <span style="font-size: medium;">Dont have a Account&nbsp;&nbsp;<a href="{% url 'register' %}">Create your account</a></span>
</div>

{% endblock %}







