{% extends 'Seller/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div style="width: 80%;margin: 3% 10%;color: white;">
    <div style="width: 30%;margin: 5% 5%;color: black;padding: 5% 0%;">
            {% if messages %}
            {% for msj in messages %}
            <div class="alert alert-danger" role="alert">
                <b style="font-size: medium;">{{msj}}</b>
              </div>
            {% endfor %}
            {% endif %}
            <form method="POST">
                <h3 style="text-align: center;padding: 2% 0% 4% 0%;">Member Change Password </h3>
                {% csrf_token %}
                {{form|crispy}}
                <br>
                <button type="submit" class="btn btn-info btn-lg btn-block">Change Password</button>
                
              </form>
                <br>
             </div>
    </div>
</div>
{% endblock %}