/* login page

.extra-margin {
    margin-top: 200px;
  } */
  
   /* .btn {
    width: 350px;
    margin-top: 20px;
  }
   */
  /* form {
    border: 1px solid lightgrey;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 16px;
    padding-bottom: 25px;
    border-radius: 5px;
  } */
  
  /* #words_1 {
    font-weight: bold;
    font-size: 14px;
  } */
  
  /* #words_2 {
    font-weight: bold;
    font-size: 14px;
  }
     */
  /* #words_3 {
    font: 7px;
  } */
  
  /* .sign-in {
    margin-bottom: 50px;
    margin-left: 20% ;
    margin-right: 20%;
    font-size: 30px;
    font-weight: bold;
  } */
  
   /* .conditions {
    font-size: 8px;
    color: blue;
    margin-top: 30px;
    z-index: 2; 
    
     
  } */

  /* #lbg{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
  } */
 
  body{
    background-image:url('Images/bimage1.jpg');
  }
  
  
  #lbg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .jumbotron{
    background-image:url('Images/images1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }